.menu-bar {
    -fx-background-color: #eee;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
}

.menu {
    -fx-padding: 5 10;
}

.menu:hover, .menu:active, .menu:focused {
    -fx-background-color: #d6d6d6;
    -fx-cursor: hand;
}

.menu:showing {
    -fx-background-color: #d6d6d6;
}

.menu-item {
    -fx-background-color: #eee;
    -fx-padding: 10;
}

.menu-item:hover, .menu .menu-item:hover {
    -fx-background-color: #d6d6d6;
    -fx-cursor: hand;
}

.context-menu {
    -fx-padding: 0;
    -fx-border-width: 1;
    -fx-border-color: #CCC;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #333;
}

#evaluateButton {
    -fx-background-radius: 0;
    -fx-text-fill: #FFF;
    -fx-background-color: #2196F3;
    -fx-padding: 7 15;
}

#evaluateButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #0c83e1;
}

#saveMarksButton, #moreInfoButton {
    -fx-background-radius: 10;
    -fx-text-fill: #333;
    -fx-background-color: #eee;
    -fx-border-width: 2;
    -fx-border-color: #d6d6d6;
    -fx-padding: 7 15;
}

#saveMarksButton:hover, #moreInfoButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #d6d6d6;
}

#jaccardIndex {
    -fx-font-size: 11;
    -fx-background-radius: 0;
    -fx-padding: 5;
}